@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  min-height: 100vh;
  /* display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center; */
  /* color: #fff; */
  /* background: url("/bg.jpg"); */
  background-size: cover;
}

body::after {
  /* content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  z-index: -1; */
}
label{
    padding-top: 30px;
}

.input {
  display: flex;
  flex-direction: column;
  margin-bottom: 40px;
}

.breathe-text{
  width: 40%;
  padding-top: 10px ;
  margin-right: 85px;
}

.input label {
  text-align: center;
  font-size: 18px;
  margin-bottom: 8px;
}

.input select {
  border: none;
  border-radius: 8px;
  min-width: 300px;
  font-size: 16px;
  padding: 8px 4px;
  background-color: #6236ff;
  color: #fff;
}

.input select:focus {
  outline: none;
}

.circle-wrap {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  margin-bottom: 40px;
}

.circle-outline {
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: transparent;
  border: 15px solid #f1f1f1;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-progress {
  width: 50px;
  height: 50px;
  position: absolute;
  background-color: #6236ff;
  border-radius: 50%;
  transition: 4s ease all;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

.circle-grow {
  transform: scale(5.3);
}

.breaths {
  text-align: center;
  margin-bottom: 24px;
  font-size: 24px;
}

.instructions {
  text-align: center;
  margin-bottom: 32px;
}

button {
  padding: 8px 20px;
  border-radius: 8px;
  background-color: #6236ff;
  color: #fff;
  border: none;
  cursor: pointer;
  transition: 0.3s ease all;
  box-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
}

button:hover {
  background-color: #f1f1f1;
  color: #6236ff;
}

.button-inactive {
  pointer-events: none;
  background-color: #969696;
}

.game{
    display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* bubble */

.background{
  position: absolute;
  object-fit: cover;
  z-index: 0;
}

#game-container {
  text-align: center;
  background: url("https://images.unsplash.com/photo-1562016600-ece13e8ba570?q=80&w=1938&auto=format&fit=crop&ixlib=rb-4.1.0&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D");
  height: 100svh;
}

.bubble-text{
  width: 50%;
  padding-top: 10px ;
  margin-right: 10px;
}

h1 {
  color: #2c3e50;
}

#bubble-area {
  position: relative;
  width: 100vw;
  height: 100svh;
  overflow: hidden;
}

.bubble {
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: rgba(255, 255, 255, 0.6);
  border: 2px solid #9bd3f3;
  border-radius: 50%;
  animation: floatUp 8s linear infinite;
  cursor: pointer;
  box-shadow: 0 0 10px rgba(135, 206, 250, 0.5);
}

@keyframes floatUp {
  from {
    bottom: -60px;
    transform: translateX(0);
  }
  to {
    bottom: 100%;
    transform: translateX(50px);
  }
}